{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.team }}
    {{ if .enable }}
    {{ "<!-- Team Section Start -->" | safeHTML }}
    <section class="team section bg-gray" id="team">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="title text-center">
                        {{ with .topTitle }}<h4>{{ . }}</h4>{{ end }}
                        {{ with .title }}
                            <h2>{{ . }}</h2>
                            <span class="border"></span>
                        {{ end }}
                        {{ with .subtitle }}<p>{{ . }}</p>{{ end }}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                {{ range where .member "designation" "Ph.D Student" }}
                    {{ "<!-- team member -->" | safeHTML }}
                    <div class="col-12 col-md-2 col-sm-6">
                        <div class="team-member text-center">
                            <div class="member-photo">
                                <img class="img-fluid rounded shadow" src="{{.image | absURL }}" alt="team people">
                            </div>
                            {{ "<!-- member name & designation -->" | safeHTML }}
                            <div class="member-content">
                                <h3>{{ .name }}</h3>
                                <span>{{ .year }}&nbsp;{{ .designation }}</span>
                                <p>{{ .description }}</p>
                            </div>
                        </div>
                    </div>
                    {{ "<!-- end team member -->" | safeHTML }}
                {{ end }}
            </div>
            <div class="row justify-content-center">
                {{ range where .member "designation" "Master Student" }}
                    {{ "<!-- team member -->" | safeHTML }}
                    <div class="col-12 col-md-2 col-sm-6">
                        <div class="team-member text-center">
                            <div class="member-photo">
                                <img class="img-fluid rounded shadow" src="{{.image | absURL }}" alt="team people">
                            </div>
                            {{ "<!-- member name & designation -->" | safeHTML }}
                            <div class="member-content">
                                <h3>{{ .name }}</h3>
                                <span>{{ .year }}&nbsp;{{ .designation }}</span>
                                <p>{{ .description }}</p>
                            </div>
                        </div>
                    </div>
                    {{ "<!-- end team member -->" | safeHTML }}
                {{ end }}
            </div>
            <div class="row justify-content-center">
                {{ range where .member "designation" "Alumni" }}
                    {{ "<!-- team member -->" | safeHTML }}
                    <div class="col-12 col-md-2 col-sm-6">
                        <div class="team-member text-center">
                            <div class="member-photo">
                                <img class="img-fluid rounded shadow" src="{{.image | absURL }}" alt="team people">
                            </div>
                            {{ "<!-- member name & designation -->" | safeHTML }}
                            <div class="member-content">
                                <h3>{{ .name }}</h3>
                                <span>{{ .year }}&nbsp;{{ .designation }}</span>
                                <p>{{ .description }}</p>
                            </div>
                        </div>
                    </div>
                    {{ "<!-- end team member -->" | safeHTML }}
                {{ end }}
            </div>            
        </div>
    </section>
    {{ "<!-- End section -->" | safeHTML }}
    {{ end }}
{{ end }}
