{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.video }}
 <section class="team section bg-gray" id="team">
    <div class="container">
            <div class="row">
                <div class="col">
                    <div class="title text-center">
                        {{ with .topTitle }}<h4>{{ . }}</h4>{{ end }}
                    </div>
                </div>
            </div>
            <h3> Student </h3>
            <div class="row justify-content-center">
                {{ range .students }}
            <div class="col-md-6">
                <div class="video-player">
                    <img class="img-fluid rounded" src="{{ $.Site.BaseURL }}/images/video/{{ .name }}.png" alt="video-thumb">
                    <a class="play-icon" href="javascript:void(0)">
                        <i class="tf-ion-play" data-video="{{ $data.video.studentVideoURL }}/{{ .name }}.mp4"></i>
                    </a>
                </div>
                <div class="member-content">
                    <p>{{ .title }}</p>
                </div>
            </div>
                {{ end }}
            </div>
    </div>
 </section>
{{ end }}